@using EPiServer.Cms;
@using EPiServer.Web.Mvc.Html;

@using LurieChildrensFoundation.AO.FB.Models.Pages;
@using LurieChildrensFoundation.AO.FB.Models.ViewModels;

@model StandardPageViewModel<StandardPage>
@{ Layout = "~/Views/Shared/Layouts/SidebarNavigation.cshtml"; }

<article>
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				<h1>@Html.PropertyFor(model => model.CurrentPage.Name)</h1>
				<p>@Html.PropertyFor(model => model.ViewModelProperty)</p>
				<p>@Html.PropertyFor(model => model.ViewModelPropertyBase)</p>
			</div>
		</div>
	</div>
</article>

<section>
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				@Html.PropertyFor(model => model.CurrentPage.MainContentArea)
			</div>
		</div>
	</div>
</section>