@using EPiServer.Web.Mvc.Html;

@using LurieChildrensFoundation.AO.FB.Models.Pages;
@using LurieChildrensFoundation.AO.FB.Models.ViewModels;

@model StandardPageViewModel<StandardPage>
@{ Layout = "~/Views/Shared/Layouts/FullWidth.cshtml"; }

@if (Model.CurrentPage.UseSidebar)
{
	<section>
		<div class="layout container">
			<div class="row">
				<div class="col-3">
					@Html.PropertyFor(model => model.CurrentPage.SidebarContentArea)
				</div>
				<div class="col-9">
					@Html.PropertyFor(model => model.CurrentPage.MainContentArea)
				</div>
			</div>
		</div>
	</section>
}
else
{
	<section>
		<div class="layout container">
			<div class="row">
				<div class="col-12">
					@Html.PropertyFor(model => model.CurrentPage.MainContentArea)
				</div>
			</div>
		</div>
	</section>
}
