@using EPiServer.Cms;
@using EPiServer.Web.Mvc.Html;

@using LurieChildrensFoundation.AO.CSB.Models.Pages;
@using LurieChildrensFoundation.AO.CSB.Models.ViewModels;

@model StandardPageViewModel<StandardPage>
@{ Layout = "~/Views/Shared/Layouts/MainNavigation.cshtml"; }

<h1>@Html.PropertyFor(model => model.CurrentPage.Name)</h1>
<div>
	@Html.PropertyFor(model => model.CurrentPage.MainContentArea)
</div>