@using LurieChildrensFoundation._Base.Models.PropertyTypes;
@model FndLinkItemType

@if (Model != null)
{
	<a class="LinkItem" target="@Model.Target" href="@Model.Src" title="@Model.Title">@Model.Text</a>
}
