@using EPiServer.SpecializedProperties;
@model LinkItemCollection

@if (Model != null)
{
	<ul class="LinkList">
	@foreach (LinkItem item in Model)
	{
		<li><a class="LinkItem" href="@Url.PageUrl(item.Href)" title="@item.Title">@item.Text</a></li>
	}
	</ul>
}