@using EPiServer.SpecializedProperties;
@model LinkItemCollection

@if (Model != null)
{
	<ul>
		@foreach (LinkItem item in Model)
		{
			<li><a href="@Url.PageUrl(item.Href)" title="@item.Title">@item.Text</a></li>
		}
	</ul>
}