@using LurieChildrensFoundation.AO._Base.Models.ViewModels;
@using LurieChildrensFoundation.AO._Base.Models.Pages;

@model IAOBasePageViewModel<AOBasePage>
@{Layout = "~/Views/Shared/Layouts/_Root.cshtml";}

<div class="layout container">
	<div class="row">
		<div class="layout col col-sm-3 col-12">
			<div class="sidebar">
				<ul class="subnav">
					@*Html.MenuList(ContentReference(AOBasePage), SubMenuTemplate)*@
				</ul>
			</div>
		</div>
		<div class="layout col col-sm-9 col-12">
			@RenderBody()
		</div>
	</div>
</div>