@using LurieChildrensFoundation.Home.Models.ViewModels;

@model SidebarNavBlockViewModel

@Html.PropertyFor(model => model.Heading)

@foreach (var page in Model.Pages)
{
	<div class="listResult">
		<h3>
			@Html.PageLink(page)
		</h3>
	</div>
}
