@using LurieChildrensFoundation.AO.FB.Models.Pages;
@using LurieChildrensFoundation.AO.FB.Models.ViewModels;

@model EventListBlockViewModel

@Html.PropertyFor(model => model.Heading)

@foreach (EventPage page in Model.Pages)
{
	<div class="EventListItem">
		<h3>
			@Html.PageLink(page)
		</h3>
		<div>
			@*Html.DisplayFor(p => page.EventDate, "DateOnly")*@
		</div>
		<div>
			@page.Summary
		</div>
	</div>
}
